* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 20px;
  background: linear-gradient(to right, blue, blue, white);
  color: white;
}

#loading {
  display: flex;
  height: calc(100vh - 40px);
  width: 100%;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
}

p,
aside {
  font-size: 16px;
}

p {
  background: rgba(255, 0, 0, 0.12);
  padding: 10px;
  margin: 0;
}

aside {
  background: linear-gradient(to right, purple, purple, white);
  background: rgba(0, 255, 0, 0.12);
  padding: 10px;
  margin: 0;
}

input {
  padding: 0 10px;
  flex-grow: 1;
  border: 1px solid #aaa;
  border-right: none;
}

button {
  flex-shrink: 0;
  height: 100%;
  background: rgba(0, 0, 255, 0.06);
  border: 1px solid #aaa;
  cursor: pointer;
  transition: 200ms ease background;
}

button:hover {
  background: rgba(0, 0, 255, 0.12);
}

input,
button {
  font-size: 16px;
  font-family: inherit;
  height: 40px;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}

td,
th {
  padding: 5px;
}

thead th {
  white-space: nowrap;
}

thead th:nth-child(1) {
  text-align: left;
}

thead th:nth-child(3) {
  text-align: left;
}

td:nth-child(1) {
  width: 100%;
}

td:nth-child(2) {
  padding: 0 40px;
  text-align: right;
}

td:last-child {
  white-space: nowrap;
}

td:last-child a {
  display: inline-block;
  padding: 12px 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

tr {
  transition: 200ms ease background;
}

tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.03);
}

img {
  filter: grayscale();
  opacity: 0.5;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  transition: 200ms ease opacity, filter;
}

tr:hover {
  background: rgba(0, 0, 255, 0.03);
}

tr:hover img {
  filter: none;
  opacity: 1;
}
